a{
    text-decoration: none;
    color: black;
}
.resetData{
    background-color: #03a9f4 !important;
    color: white!important;
}
.clearData{
    background-color: #f44336 !important;
    color: white!important;
}
.borderRight{
    border-right: 0.3px solid rgba(0, 0, 0, 0.54);
}
.MuiGrid-spacing-xs-2{
    width:calc(100%)!important;
}
